.container center-text{
    position: relative;
    height: 50%;
    vertical-align: middle;
    align-self: center;
    text-align: center;
    display: inline-block;

    /*border: 1px solid;*/
}

.v-center {
  width: 50%;
  height: 60%;
  overflow: visible;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}